@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Wendy One', sans-serif; }

li, a {
  text-decoration: none;
  list-style: none; }

h1,
section,
p,
span,
svg {
  transition: background-color 0.5s, color 0.5s; }

:root {
  /* Light Theme Variables */
  --color-text-light: #000000;
  --color-background-light: #fbf0e9;
  --color-pink-light: #e5a1aa;
  --color-purple-light: #bd93f9;
  --color-blue-light: #9831c6;
  --color-brown-light: #e0af68;
  --color-red-brown: #a52958;
  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD; }

.light-theme {
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-purple: var(--color-purple-light);
  --color-blue: var(--color-blue-light);
  --color-brown: var(--color-brown-light);
  --color-redBown: var(--color-red-brown); }

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-purple: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
  --color-brown: var(--color-text-dark);
  --color-redBown: var(--color-text-dark); }

/* Other colors override */
.blue-text {
  color: var(--color-blue); }

.blue-border {
  border-color: var(--color-blue); }

.blue-background {
  background-color: var(--color-blue); }

.purple-text {
  color: var(--color-purple); }

.purple-border {
  border-color: var(--color-purple); }

.purple-background {
  background-color: var(--color-purple); }

.zen-maru {
  font-family: 'Zen Maru Gothic', sans-serif; }

/* Preloader Stuff */
.animatedis {
  display: inline-block;
  transform: translateY(100%); }

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-text);
  transform: translate(-50%, -50%); }

/* Experience --------------------------------------------- */
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh; }
  .experience .experience-canvas {
    width: 100%;
    height: 100%; }

.hidden {
  display: none; }

img {
  max-width: 100%;
  vertical-align: bottom; }

/* Page Itself --------------------------------------------- */
.page {
  z-index: 99999;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .page .page-wrapper {
    position: relative; }

/* Section Formatting --------------------------------------------- */
.section-margin {
  width: 100%; }

.section {
  position: relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden; }
  .section.left {
    margin-right: auto;
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px; }
  .section.right {
    margin-left: auto;
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px; }

/* Progress bars */
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999; }
  .progress-wrapper.progress-bar-wrapper-left {
    position: absolute;
    top: 0;
    left: 0; }
    .progress-wrapper.progress-bar-wrapper-left .progress-bar {
      height: 100vh;
      width: 100%;
      background-color: var(--color-redBown);
      transform-origin: top center;
      transform: scaleY(1); }
      .progress-wrapper.progress-bar-wrapper-left .progress-bar.blue-background {
        background-color: var(--color-blue); }
      .progress-wrapper.progress-bar-wrapper-left .progress-bar.purple-background {
        background-color: var(--color-purple); }
  .progress-wrapper.progress-bar-wrapper-right {
    position: absolute;
    top: 0;
    right: 0; }
    .progress-wrapper.progress-bar-wrapper-right .progress-bar {
      height: 100vh;
      width: 100%;
      transform-origin: top center;
      transform: scaleY(1); }
      .progress-wrapper.progress-bar-wrapper-right .progress-bar.pink-background {
        background-color: #f667c3; }
      .progress-wrapper.progress-bar-wrapper-right .progress-bar.brown-background {
        background-color: var(--color-brown-light); }

.cls-1 {
  fill: #bd93f9; }

.cls-2 {
  fill: #caa9fa; }

footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  background-color: var(--color-background);
  color: var(--color-purple);
  letter-spacing: 1px; }

.header-img-top {
  width: 100%;
  position: absolute;
  top: -30px;
  opacity: 1; }

.header-img-bottom {
  width: 100%;
  position: absolute;
  bottom: -53px;
  right: 0;
  opacity: 1;
  rotate: 180deg; }

#path {
  animation: path 3s infinite;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@keyframes path {
  0% {
    d: path("M109.502 78.8151C72.7977 114.24 21.2072 106.198 0 97.7493L0 0L375 0C352.467 18.6288 302.386 38.908 235.828 37.1978C152.631 35.0601 155.383 34.5334 109.502 78.8151Z"); }
  50% {
    d: path("M98.5 68.5C61.7953 103.925 21.2072 106.198 0 97.7493L0 -6.10352e-05L375 -6.10352e-05C352.467 18.6288 328.558 32.2102 262 30.5C178.803 28.3623 144.381 24.2183 98.5 68.5Z"); }
  100% {
    d: path("M109.502 78.8151C72.7977 114.24 21.2072 106.198 0 97.7493L0 0L375 0C352.467 18.6288 302.386 38.908 235.828 37.1978C152.631 35.0601 155.383 34.5334 109.502 78.8151Z"); } }

.preloader {
  background-color: #e4ddea;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999; }
  .preloader .preloader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .preloader .preloader-wrapper svg {
      width: 20%; }
    .preloader .preloader-wrapper .draw {
      animation: draw 4000ms ease-in-out infinite;
      stroke: #bd93f9; }

@keyframes draw {
  0% {
    stroke-dasharray: 0 400;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1; }
  37% {
    stroke-dasharray: 200 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 1; }
  50% {
    fill-opacity: 1;
    stroke-width: 0; }
  100% {
    fill-opacity: 1;
    stroke-width: 0; } }

.cursor {
  box-sizing: border-box;
  width: 40px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999999;
  transform-origin: 50%;
  transform: translate3d(-50%, -50%, 0); }
  .cursor > div {
    mix-blend-mode: exclusion; }
  .cursor .cursor-follow {
    transform-origin: 50%; }
    .cursor .cursor-follow svg {
      display: block;
      fill: none;
      stroke: var(--color-purple);
      stroke-width: 2;
      stroke-miterlimit: miter; }
  .cursor .cursor-point {
    position: fixed;
    z-index: 999999;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-purple);
    border-radius: 100%; }

.logo {
  position: fixed;
  z-index: 100;
  top: 20px;
  left: 48px;
  width: 55px;
  opacity: 0; }
  .logo:hover .draw {
    animation: draw 4s ease-in-out infinite;
    stroke: #bd93f9; }

/* Toggle Bar --------------------------------------------- */
.toggle-bar {
  position: fixed;
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 100; }
  .toggle-bar .pusheen-newsletter {
    background: url(/img/cat.webp);
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    height: 2em;
    width: 51px;
    position: absolute;
    top: -30px;
    z-index: 100; }
  .toggle-bar .sun-wrapper,
  .toggle-bar .moon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-text); }
  .toggle-bar .toggle-button {
    cursor: pointer;
    position: relative;
    width: 66px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    border-radius: 999px;
    margin: 0px 16px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    .toggle-bar .toggle-button .toggle-circle {
      position: absolute;
      left: 6px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: var(--color-background);
      transition: all 0.2s ease-in-out; }
    .toggle-bar .toggle-button:hover .toggle-circle {
      transform: scale(0.9); }
    .toggle-bar .toggle-button .slide {
      left: 40px; }

/* Section Formatting --------------------------------------------- */
.section-margin {
  height: 2000px;
  width: 100%; }

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text); }

.section {
  position: relative;
  width: 50%;
  padding: 200px 4% 300px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden; }
  .section.left {
    margin-right: auto;
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px; }
  .section.right {
    margin-left: auto;
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px; }

/* Sections -------------- */
section .section-intro-wrapper {
  position: relative; }
  section .section-intro-wrapper .section-title {
    position: relative; }
    section .section-intro-wrapper .section-title .secHead {
      position: relative;
      display: block;
      font-size: 2.125rem;
      font-weight: 500;
      padding: 3.75rem 0;
      z-index: 5;
      color: var(--color-redBown);
      left: -2rem; }
      section .section-intro-wrapper .section-title .secHead::before {
        content: '<'; }
      section .section-intro-wrapper .section-title .secHead::after {
        content: '>'; }
      section .section-intro-wrapper .section-title .secHead.color-brown {
        color: var(--color-brown); }
      section .section-intro-wrapper .section-title .secHead.pink {
        color: #f667c3; }
      section .section-intro-wrapper .section-title .secHead.purple-text {
        color: var(--color-purple); }
      section .section-intro-wrapper .section-title .secHead.blue-text {
        color: var(--color-blue); }
    section .section-intro-wrapper .section-title .secEnd {
      position: relative;
      display: block;
      font-size: 2.125rem;
      font-weight: 500;
      padding: 3.75rem 0;
      z-index: 5;
      color: var(--color-redBown);
      left: -2rem; }
      section .section-intro-wrapper .section-title .secEnd.color-brown {
        color: var(--color-brown); }
      section .section-intro-wrapper .section-title .secEnd.pink {
        color: #f667c3; }
      section .section-intro-wrapper .section-title .secEnd.purple-text {
        color: var(--color-purple); }
      section .section-intro-wrapper .section-title .secEnd.blue-text {
        color: var(--color-blue); }
      section .section-intro-wrapper .section-title .secEnd::after {
        content: "</" attr(data-text) ">"; }
  section .section-intro-wrapper .section-number {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: var(--color-pink);
    font-size: 24px; }

section .section-detail-wrapper {
  position: relative;
  padding: 20% 0; }

.blue-background {
  background-color: var(--color-blue); }

.purple-background {
  background-color: var(--color-purple); }

/* Hero section -------------------------------- */
.hero {
  width: 100vw;
  height: 100vh; }
  .hero .hero-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto; }
  .hero .hero-main {
    position: absolute;
    bottom: 168px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding-left: 4%;
    color: var(--color-text); }
  .hero .hero-second {
    color: var(--color-text); }
  .hero .hero-main-title {
    font-size: 48px;
    color: var(--color-text); }
  .hero .hero-main-description {
    font-size: 48px;
    color: var(--color-text);
    font-weight: bold;
    margin: 1% 0; }
  .hero .hero-second-subheading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: var(--color-purple); }

.about-pusheen {
  width: 25%;
  position: relative;
  top: 5rem;
  left: 75%; }
  .about-pusheen img {
    width: 100%;
    height: auto; }

.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0;
  text-align: center;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(8px); } }

.first-section {
  overflow: visible; }

.about {
  position: relative; }
  .about img {
    border-radius: 5px; }
  .about .mt {
    margin-top: 10px; }
  .about .about-title {
    font-size: 14px; }
  .about .about-name {
    font-size: 26px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 800; }
  .about .about-content {
    line-height: 28px;
    text-align: justify; }
  .about .ticket {
    position: relative;
    right: 0;
    display: table;
    width: 450px;
    height: 288px;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 10px 10px 12px -5px rgba(134, 130, 134, 0.2), inset -6px -6px 12px -5px rgba(253, 253, 253, 0.2);
    background: url("https://res.cloudinary.com/dptgkdbjg/image/upload/v1621193078/Rectangle_3_lrysu2.png"), #F4F4F4;
    background-size: cover;
    cursor: pointer;
    overflow: hidden; }
    .about .ticket::before {
      content: "";
      position: absolute;
      top: 54.5%;
      z-index: 2;
      left: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid var(--color-background); }
    .about .ticket::after {
      content: "";
      position: absolute;
      top: 54.5%;
      z-index: 2;
      right: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid #a52958; }
    .about .ticket .ribbon .label {
      position: relative;
      display: block;
      left: -40px;
      top: 23px;
      width: 158px;
      padding: 10px 0;
      font-size: 15px;
      text-align: center;
      color: #fff;
      background-color: #e85e68;
      -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      transform: rotate(-45deg) translate3d(0, 0, 0); }
    .about .ticket .border {
      position: absolute;
      bottom: 110px;
      border: 2px dashed rgba(0, 0, 0, 0.1);
      width: 100%; }
    .about .ticket .ticket-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5); }
    .about .ticket .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .about .ticket .content h1 {
        display: block;
        font-size: 35px;
        color: #a52958;
        margin: 0 0 10px 0; }
  .about .ticket-in {
    width: 450px;
    position: absolute;
    background: #a52958;
    top: 10px;
    right: calc(50% - 280px);
    z-index: 1;
    border-radius: 10px;
    transition: right .6s; }
    .about .ticket-in.active {
      right: calc(50% - 655px);
      transition: right .6s; }
    .about .ticket-in .content {
      margin: 8px;
      padding: 8px;
      border: 2px dashed #e0c68e;
      border-radius: 10px; }
      .about .ticket-in .content .pass {
        display: block;
        color: #a52958;
        position: relative;
        top: -12px;
        left: -12px;
        width: 424px;
        height: 57px;
        margin: 7px 0 0 7px;
        padding: 0;
        line-height: 58px;
        text-align: center;
        border-radius: 10px 10px 0 0;
        background: #eadbb8;
        border: 1px solid #82113c; }
        .about .ticket-in .content .pass::before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: calc(50% - 20px);
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 10px solid #eadbb8; }
      .about .ticket-in .content .card-item {
        font-size: 14px;
        color: #eadbb8;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .about .ticket-in .content .card-item p {
          margin-bottom: 14px; }
        .about .ticket-in .content .card-item .avatar {
          width: 160px;
          height: 160px;
          margin-right: 1rem;
          border-radius: 50%; }
        .about .ticket-in .content .card-item .home__social-links {
          -webkit-column-gap: 2rem;
          column-gap: 1.25rem;
          display: inline-flex; }
          .about .ticket-in .content .card-item .home__social-links .home__social-link {
            color: #eadbb8;
            font-size: 1.3rem;
            transition: .3s; }
            .about .ticket-in .content .card-item .home__social-links .home__social-link:hover {
              transform: translateY(-10px);
              color: #e3ca8e; }

.education .about-pusheen {
  width: 25%;
  position: relative;
  top: 5rem;
  left: 75%; }

.education .timeline {
  position: relative;
  max-width: 46em; }
  .education .timeline:before {
    background-color: #f667c3;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%; }
  .education .timeline .timeline-event {
    position: relative; }
    .education .timeline .timeline-event .timeline-event-icon {
      -moz-transition: -moz-transform 0.2s ease-in;
      -o-transition: -o-transform 0.2s ease-in;
      -webkit-transition: -webkit-transform 0.2s ease-in;
      transition: transform 0.2s ease-in;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #f667c3;
      outline: 10px solid var(--color-background);
      display: block;
      margin: 0.5em 0.5em 0.5em -0.5em;
      position: absolute;
      top: 0;
      width: 1em;
      height: 1em; }
    .education .timeline .timeline-event:hover .timeline-event-icon {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: #a83279; }
    .education .timeline .timeline-event .timeline-event-copy {
      padding: 2em;
      padding-right: 0;
      position: relative;
      top: -1.875em; }
      .education .timeline .timeline-event .timeline-event-copy .timeline-title {
        font-size: 1.3em;
        color: #f667c3; }
      .education .timeline .timeline-event .timeline-event-copy .timeline-item {
        position: relative;
        top: 25px; }
        .education .timeline .timeline-event .timeline-event-copy .timeline-item.pb {
          padding-bottom: 1.2em; }
        .education .timeline .timeline-event .timeline-event-copy .timeline-item .timeline-text {
          font-family: 'Zen Maru Gothic', sans-serif;
          color: var(--color-text); }
        .education .timeline .timeline-event .timeline-event-copy .timeline-item .link {
          padding-top: 1.2em; }
          .education .timeline .timeline-event .timeline-event-copy .timeline-item .link a {
            color: #16c2c4; }
      .education .timeline .timeline-event .timeline-event-copy .timeline-event-thumbnail {
        color: #bd93f9; }

.skill .about-pusheen {
  width: 25%;
  top: 4.5rem;
  left: 75%; }

.skill .wrapper {
  font-size: 14px;
  background: #141523;
  width: 100%;
  position: relative;
  border-radius: 0.7rem;
  z-index: 3;
  background-image: url("https://readyplayer.me/images/home/glow-purple-01.svg");
  background-repeat: no-repeat;
  background-position: -50px 0,right bottom; }
  .skill .wrapper .profile {
    display: flex;
    align-items: center;
    padding: 60px 0;
    position: relative; }
    .skill .wrapper .profile .iconWrap {
      width: 100%;
      display: flex;
      position: absolute;
      top: 0;
      box-shadow: 0 0 4px 0 var(--color-purple);
      border-radius: 0.7rem 0.7rem 0 0;
      padding: 14px 0 14px 2%; }
      .skill .wrapper .profile .iconWrap .icon {
        transition: .2s; }
        .skill .wrapper .profile .iconWrap .icon:hover {
          transform: scale(2); }
      .skill .wrapper .profile .iconWrap .iconBtn1 {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: #ef4444; }
      .skill .wrapper .profile .iconWrap .iconBtn2 {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: #f59e0b;
        margin: 0 15px; }
      .skill .wrapper .profile .iconWrap .iconBtn3 {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: #2aca3e; }
    .skill .wrapper .profile .container-code {
      font-family: 'Zen Maru Gothic', sans-serif;
      width: 100%;
      z-index: 3; }
      .skill .wrapper .profile .container-code .codeWrap {
        position: relative;
        line-height: 1.7em;
        width: 100%; }
        .skill .wrapper .profile .container-code .codeWrap:hover {
          background: #2b2e3e;
          cursor: default; }
          .skill .wrapper .profile .container-code .codeWrap:hover::before {
            color: #c6c6c6; }
        .skill .wrapper .profile .container-code .codeWrap::before {
          content: attr(data-value);
          position: absolute;
          display: block;
          width: 20px;
          left: 1%;
          margin: auto;
          font-size: 14px;
          text-align: center;
          color: #6272a4; }

.skill .brackets {
  color: white; }

.skill .barackets::after {
  content: "{";
  color: #c792ea; }

.skill .barackets_2 {
  color: #fff; }

.skill .barackets_3::after {
  content: "}";
  color: #c792ea; }

.skill .barackets_4::after {
  content: "(";
  color: #c792ea; }

.skill .barackets_5::after {
  content: ")";
  color: #c792ea; }

.skill .string::after {
  content: ";";
  color: #fff;
  margin-left: 6px; }

.skill .code {
  margin: 0 auto; }
  .skill .code.left {
    margin-left: 8%; }
  .skill .code.left-2 {
    margin-left: 10%; }
  .skill .code.left-3 {
    margin-left: 6%; }

.skill .mtk1::after {
  content: '[';
  color: #179fff; }

.skill .mtk2::after {
  content: ']';
  color: #179fff; }

.skill .mtk15 {
  color: #ff6bcb; }

.skill .mtk18 {
  color: #82aaff; }

.skill .mtk14 {
  color: #eac394; }

.skill .mtk14 {
  color: #e0af68; }

.skill .number {
  color: #ff78f8; }

.skill .mtk5 {
  color: #20e3b2; }

.skill .bracket-highlighting-left-0::after {
  content: '{';
  color: #ffd700; }

.skill .bracket-highlighting-right-0::after {
  content: '}';
  color: #ffd700; }

.skill .bracket-highlighting-left-1::after {
  content: '{';
  color: #da70d6; }

.skill .bracket-highlighting-right-1::after {
  content: '}';
  color: #da70d6; }

.skill .static {
  color: #9d7cd8;
  margin-right: 6px; }

.skill .mtk3 {
  color: #bd93f9; }
  .skill .mtk3.mtki {
    font-style: italic; }

.skill .typed {
  border: 1px solid #bd93f9;
  margin: 0 6px;
  animation: animate 0.4s none infinite alternate; }

@keyframes animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.work .about-pusheen {
  width: 25%;
  top: 7rem;
  left: 75%; }

.work .app__works {
  flex: 1;
  width: 100%;
  flex-direction: column; }

.work .works {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .work .works .app__work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .work .works .app__work-portfolio .app__work-item {
      width: 190px;
      height: 230px;
      flex-direction: column;
      margin: 0.5rem;
      padding: 1rem;
      border-radius: 0.7rem;
      background-color: #fff;
      color: #000;
      transition: all 0.3s ease; }
      .work .works .app__work-portfolio .app__work-item .app__work-img {
        width: 100%;
        height: 100%;
        position: relative;
        transition: all .3s; }
        .work .works .app__work-portfolio .app__work-item .app__work-img img {
          width: 80%;
          height: auto;
          border-radius: 0.5rem;
          object-fit: cover; }
        @media screen and (min-width: 2000px) {
          .work .works .app__work-portfolio .app__work-item .app__work-img {
            height: 350px; } }
        .work .works .app__work-portfolio .app__work-item .app__work-img .app__work-hover {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.35);
          backdrop-filter: blur(7.5px);
          border-radius: 0.5rem;
          opacity: 0;
          transition: all 0.3 ease; }
          .work .works .app__work-portfolio .app__work-item .app__work-img .app__work-hover:hover {
            opacity: 1; }
          .work .works .app__work-portfolio .app__work-item .app__work-img .app__work-hover div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            margin: 1rem;
            font-family: var(--font-base);
            font-weight: 800;
            cursor: pointer;
            transition: all 0.3 ease; }
          .work .works .app__work-portfolio .app__work-item .app__work-img .app__work-hover svg {
            width: 50%;
            height: 50%;
            color: var(--white-color); }
        .work .works .app__work-portfolio .app__work-item .app__work-img:hover {
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
          border-radius: 0.7rem; }
      .work .works .app__work-portfolio .app__work-item .app__work-content {
        padding: 0.5rem;
        width: 100%;
        flex-direction: column;
        position: relative; }
        .work .works .app__work-portfolio .app__work-item .app__work-content h4 {
          margin-top: 0.5rem;
          line-height: 1.5;
          font-size: 14px; }
        .work .works .app__work-portfolio .app__work-item .app__work-content .app__work-tag {
          position: absolute;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          background-color: #fff;
          top: -25px; }

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.contact {
  padding: 200px 4%; }
  .contact .about-pusheen {
    width: 25%;
    top: 7rem;
    left: 77%; }
  .contact .container img {
    width: 100%;
    height: auto; }
  .contact .container form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto; }
    .contact .container form input, .contact .container form textarea {
      border: 0;
      outline: 0;
      border-radius: 5px;
      padding: 1em;
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: 'Wendy One', sans-serif;
      resize: none; }
      .contact .container form input:focus, .contact .container form textarea:focus {
        box-shadow: 0 0 2px blue; }
    .contact .container form #input-submit {
      font-family: 'Wendy One', sans-serif;
      color: white;
      background: #bd93f9;
      cursor: pointer;
      transition: .3s; }
      .contact .container form #input-submit:hover {
        background: var(--color-blue); }
    .contact .container form textarea {
      height: 153px; }
  .contact .home__social {
    -webkit-column-gap: 3.5rem;
    column-gap: 3.5rem;
    display: flex;
    justify-content: center; }
    .contact .home__social .home__social-follow {
      font-weight: medium;
      position: relative; }
      .contact .home__social .home__social-follow:after {
        background: var(--color-purple);
        content: "";
        height: 2px;
        position: absolute;
        right: -45%;
        top: 50%;
        width: 1rem; }
    .contact .home__social .home__social-links {
      -webkit-column-gap: 2rem;
      column-gap: 2rem;
      display: inline-flex; }
      .contact .home__social .home__social-links .home__social-link {
        color: var(--color-purple);
        font-size: 1.5rem;
        transition: .3s; }
        .contact .home__social .home__social-links .home__social-link:hover {
          transform: translateY(-10px);
          color: var(--color-blue); }

.half {
  float: left;
  width: 48%;
  height: 100%;
  margin-bottom: 1em; }

.right {
  width: 50%; }

.left {
  margin-right: 2%; }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

@media (max-width: 968px) {
  .section {
    width: 100%; }
  .about .about-name {
    font-size: 20px;
    margin-top: 7px; }
  .about .about-content {
    font-size: 15px;
    margin-top: 7px; }
  .progress-bar-wrapper-left {
    right: 0;
    left: auto; }
  .hero-main {
    bottom: 120px; }
    .hero-main .hero-main-title {
      font-size: 32px; }
    .hero-main .hero-main-description {
      font-size: 18px; }
  .hero-second {
    top: 160px; }
  .hero-wrapper {
    width: calc(100% - 60px); }
    .hero-wrapper .hero-second-subheading {
      font-size: 18px; }
  .profile {
    font-size: 12px; }
  .mtk14 {
    width: 50%; }
  .qualification__container::after {
    display: none; }
  .qualification__container .qualification__title::before {
    display: none; }
  .education .qualification__container::after {
    display: none; }
  .education .qualification__container::before {
    display: none; }
  .education .qualification__container .qualification__title::before {
    display: none; }
  .app__work-portfolio .app__work-item {
    width: 125px !important;
    height: 150px !important;
    padding: 0.5rem !important;
    text-align: center;
    transition: all 0.3s ease; }
    .app__work-portfolio .app__work-item .app__work-img .app__work-hover div {
      width: 40px !important;
      height: 40px !important;
      margin: 0 0.4rem !important; }
    .app__work-portfolio .app__work-item .app__work-content h4 {
      font-size: 10px !important; }
  .logo {
    opacity: 0 !important; }
  .progress-bar {
    opacity: 0 !important; }
  .avatar {
    margin: 0 !important; }
  .secHead, .secEnd {
    padding: 1.75rem 0 !important;
    left: 0 !important; }
  .toggle-bar {
    right: 10px !important; }
  .ticket {
    display: none !important; }
  .ticket-in {
    width: 100% !important;
    position: relative !important;
    top: 0 !important;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px; }
    .ticket-in img {
      display: none; }
    .ticket-in .pass {
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      margin: 0 !important; }
    .ticket-in .content {
      margin: 0 !important; }
      .ticket-in .content .card-item {
        margin-top: 1.25rem !important; } }
