
  /* Preloader Stuff */
.animatedis{
    display: inline-block;
    transform: translateY(100%);
}
#mv-demo {
  width: 400px ;
  height: 400px;
  margin: 0 auto;
}
.about-pusheen {
  width: 25%;
  position: relative;
  top: 3.3rem;
  left: 75%;
  img {
    width: 100%;
    height: auto;
  }
}
.intro-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-text);
    transform: translate(-50%, -50%);
}
  
  .arrow-svg-wrapper{
    position: absolute;
    top: 90%;
    left: 50%;
    opacity: 0;
    text-align: center;
    color: var(--color-text);
    transform: translate(-50%, -50%);
    animation: bounce 0.5s ease-in alternate infinite;
  }
  
  @keyframes bounce {
    0%{
      transform: translateY(0)
    }
  
    100%{
      transform: translateY(8px)
    }
  }
  
  .section-intro-wrapper:nth-child(3){
    border-bottom: 2px solid var(--color-green);
  }
  
.about {
  padding: 20% 0;
  position: relative;
  img {
    border-radius: 5px;
  }
  .mt {
    margin-top: 18px;
  }
  .about-title {
    font-size: 14px;
  }
  .about-name {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 800;
  }
  .about-content {
    line-height: 28px;
    text-align: justify;
  }
}



