// Logo
.logo {
    position: fixed;
    z-index: 100;
    top: 20px;
    left: 48px;
    width: 55px;
    opacity: 0;
}

/* Toggle Bar --------------------------------------------- */

.toggle-bar{
    position: fixed;
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 48px;
    right: 48px;
    z-index: 100;
    .pusheen-newsletter {
        background: url(/img/cat.webp);
        pointer-events: none;
        background-size: contain;
        background-repeat: no-repeat;
        height: 2em;
        width: 51px;
        position: absolute;
        top: -30px;
        z-index: 100;
    }
    .sun-wrapper, 
    .moon-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--color-text);
    }
    .toggle-button{
        cursor: pointer;
        position: relative;
        width: 66px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-purple);
        border-radius: 999px;
        margin: 0px 16px;
        border: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .toggle-circle{
            position: absolute;
            left: 6px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: var(--color-background);
            transition: all 0.2s ease-in-out;
        }
        
        &:hover .toggle-circle{
            transform: scale(0.9);
        }

        .slide{
            left: 40px;
        }
    }
}
  
  