.contact {
    padding: 200px 4%;
    .about-pusheen {
        width: 25%;
        left: 77%;
    }
    .container {
        border-radius: 5px;
        padding: 20px;
        margin: 30px 0;
        img {
            width: 100%;
            height: auto;
        }
        form {
            max-width: 600px;
            text-align: center;
            margin: 20px auto;
           
           input, textarea {
                border:0; outline:0;
                border-radius: 5px;
                padding: 1em;
                display: block;
                width: 100%;
                margin-top: 1em;
                font-family: 'Wendy One', sans-serif;
                resize: none;
                &:focus {
                    box-shadow: 0 0 2px rgba(blue, 1);
                }
           }
           
           #input-submit {
                font-family: 'Wendy One', sans-serif;
                color: white; 
                background: #bd93f9;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    background: var(--color-blue);
                }
           }
           
           textarea {
               height: 153px;
           }
        }
    }
    
    .home__social {
        -webkit-column-gap: 3.5rem;
        column-gap: 3.5rem;
        display: flex;
        justify-content: center;
        .home__social-follow {
            font-weight: medium;
            position: relative;
            &:after {
                background: var(--color-purple);
                content: "";
                height: 2px;
                position: absolute;
                right: -45%;
                top: 50%;
                width: 1rem;
            }
        }
        .home__social-links {
            -webkit-column-gap: 2rem;
            column-gap: 2rem;
            display: inline-flex;
            .home__social-link {
                color: var(--color-purple);
                font-size: 1.5rem;
                transition: .3s;
                &:hover {
                    transform: translateY(-10px);
                    color: var(--color-blue);
                }
            }
        }
    }

}


 
 
 .half {
   float: left;
   width: 48%;
   height: 100%;
   margin-bottom: 1em;
 }
 
 .right { width: 50%; }
 
 .left {
      margin-right: 2%; 
 }
 
 
 
 /* Clearfix */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }