input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}
  
input[type=submit] {
    background-color: var(--color-green);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    padding: 20px;
    margin: 30px 0;
    img {
        width: 100%;
        height: auto;
    }
    .submit {
        background-color: var(--color-green);
        color: #fff;
        margin: 0 auto;
        padding: 10px 15px;
        display: block;
        text-align: center;
        transition: .4s all;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.home__social {
    align-items: center;
    -webkit-column-gap: 3.5rem;
    column-gap: 3.5rem;
    display: flex;
    color: var(--color-green);
    .home__social-follow {
        font-weight: medium;
        position: relative;
        &:after {
            background: var(--color-green);
            content: "";
            height: 2px;
            position: absolute;
            right: -45%;
            top: 50%;
            width: 1rem;
        }
    }
    .home__social-links {
        -webkit-column-gap: 2rem;
        column-gap: 2rem;
        display: inline-flex;
        .home__social-link {
            color: var(--color-green);
            font-size: 1.5rem;
            
        }
    }
}