.cursor{
    box-sizing: border-box;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999999;
    transform-origin: 50%;
    transform: translate3d(-50% , -50% , 0);
    & > div{
        mix-blend-mode: exclusion;
    }
    .cursor-follow{
        transform-origin: 50%;
    }
    svg{
        display: block;
        fill: none;
        stroke: var(--color-purple);
        stroke-width: 2;
        stroke-miterlimit: miter;
    }
}
.cursor-point {
    position: fixed;
    z-index: 999999;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-purple);
    border-radius: 100%;
}