.education {
    .about-pusheen {
        width: 25%;
        position: relative;
        top: 3rem;
        left: 75%;
    }
    .timeline {
        margin: 4em auto;
        position: relative;
        max-width: 46em;
        &:before {
            background-color: #f667c3;
            content: '';
            margin-left: -1px;
            position: absolute;
            top: 0;
            width: 2px;
            height: 100%;
        }
        .timeline-event {
            position: relative;
            .timeline-event-icon {
                -moz-transition: -moz-transform 0.2s ease-in;
                -o-transition: -o-transform 0.2s ease-in;
                -webkit-transition: -webkit-transform 0.2s ease-in;
                transition: transform 0.2s ease-in;
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                background-color: #f667c3;
                outline: 10px solid var(--color-background);
                display: block;
                margin: 0.5em 0.5em 0.5em -0.5em;
                position: absolute;
                top: 0;
                width: 1em;
                height: 1em;  
            }
            &:hover .timeline-event-icon {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                background-color: #a83279;
            }
            .timeline-event-copy {
                padding: 2em;
                position: relative;
                top: -1.875em;
                .timeline-title {
                    font-size: 1.75em;
                    color: #f667c3;
                }
                .timeline-item {
                    .timeline-text {
                        font-family: 'Zen Maru Gothic', sans-serif;
                    }
                    a {
                          color: #16c2c4;
                    }
                }
                p:not(.timeline-event-thumbnail) {
                    padding-bottom: 1.2em;
                }
                .timeline-event-thumbnail {
                    color: #bd93f9;
                }
            }
        }
    }
}