.education {
    .about-pusheen {
        width: 25%;
        position: relative;
        top: 3rem;
        left: 75%;
    }
    .qualification__container {
        &::after {
            content: "";
            display: block;
            top: 0;
            left: 30px;
            position: absolute;
            border-left: 2px solid #f667c3;
            z-index: 10;
            height: 100%;
        }
        .timeline {
            &__text {
                font-family: 'Roboto', sans-serif;
            }
            &__title {
                color: #bd93f9;
            }
        }
        .qualification__title {
            color: #f667c3;
            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 9;
                left: 24px;
                transform: translateY(12px);
                width: 10px;
                height: 10px;
                border: 2px solid #f667c3;
                background: #f667c3;
                border-radius: 50%;
                &:hover {
                    transform: scale(2);
                }
                &:nth-child(1) {
                    top: 10%;
                }
            }
        }
    }
}


