@media (max-width: 968px){
    .section{
      width: 100%;
    }
    .about {

      .about-name {
        font-size: 20px;
        margin-top: 7px;
      }
      .about-content {
        font-size: 15px;
        margin-top: 7px;
      }
    }
    .progress-bar-wrapper-left{
      right: 0;
      left: auto;
    }
    .hero-main{
      bottom: 120px;
      .hero-main-title{
        font-size: 32px;
      }
      .hero-main-description{
        font-size: 18px;
      }
    }
    .hero-second{
      top: 160px;
    }
    .hero-wrapper{
      width: calc(100% - 60px);
      .hero-second-subheading{
        font-size: 18px;
      }
    }
    .profile {
      font-size: 12px;
    }
    .mtk14 {
      width: 50%;
    }
    .qualification__container::after {
      display: none;
    }
    .qualification__container .qualification__title::before {
      display: none;
    }
    .education .qualification__container::after {
      display: none;
    }
    .education .qualification__container::before {
      display: none;
    }
    .education .qualification__container .qualification__title::before {
      display: none;
    }
    .app__work-portfolio {
      .app__work-item {
        width: 125px !important;
        height: 150px !important;
        padding: 0.5rem !important;
        text-align: center;
        transition: all 0.3s ease;
        .app__work-img .app__work-hover div {
          width: 40px !important;
          height: 40px !important;
          margin: 0 0.4rem !important;
        }
        .app__work-content h4 {
          font-size: 10px !important;
        }
      }
    }
    .logo {
      opacity: 0 !important
    }
    .progress-bar {
      opacity: 0 !important;
    }
    .avatar {
      margin: 0 !important;
    }
    .secHead, .secEnd {
      padding: 1.75rem 0 !important;
      left: 0 !important;
    }
    .toggle-bar {
      right: 10px !important;
    }
    .ticket {
      display: none !important;
    }
    .ticket-in {
      width: 100% !important;
      position: relative !important;
      top: 0 !important;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 10px;
      img {
        display: none;
      }
      .pass {
        top: 0 !important; 
        left: 0 !important; 
        width: 100% !important; 
        margin: 0 !important;
      }
      .content {
        margin: 0 !important;
        .card-item {
          margin-top: 1.25rem !important;
        }
      }
    }
}