@media (max-width: 968px){
    .section{
      width: 100%;
    }
    .about {

      .about-name {
        font-size: 20px;
        margin-top: 7px;
      }
      .about-content {
        font-size: 15px;
        margin-top: 7px;
      }
    }
    .progress-bar-wrapper-left{
      right: 0;
      left: auto;
    }
    .hero-main{
      bottom: 120px;
      .hero-main-title{
        font-size: 32px;
      }
      .hero-main-description{
        font-size: 18px;
      }
    }
    .hero-second{
      top: 160px;
    }
    .hero-wrapper{
      width: calc(100% - 60px);
      .hero-second-subheading{
        font-size: 18px;
      }
    }
    .profile {
      font-size: 12px;
    }
    .mtk14 {
      width: 50%;
    }
    .qualification__container::after {
      display: none;
    }
    .qualification__container .qualification__title::before {
      display: none;
    }
    .education .qualification__container::after {
      display: none;
    }
    .education .qualification__container::before {
      display: none;
    }
    .education .qualification__container .qualification__title::before {
      display: none;
    }
    .app__work-portfolio .app__work-item {
      width: 125px;
      height: 150px;
      transition: all 0.3s ease;
  }
}