@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Wendy One', sans-serif;
}

li, a {
  text-decoration: none;
  list-style: none;
}
h1,
section,
p,
span,
svg{
  transition: background-color 0.5s, color 0.5s;
}

:root{
  /* Light Theme Variables */
  --color-text-light: #000000;
  --color-background-light: #fbf0e9;
  --color-pink-light: #e5a1aa;
  --color-purple-light: #bd93f9;
  --color-blue-light: #9831c6;
  --color-brown-light: #e0af68;
  --color-red-brown: #a52958;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-purple: var(--color-purple-light);
  --color-blue: var(--color-blue-light);
  --color-brown: var(--color-brown-light);
  --color-redBown: var(--color-red-brown);
}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-purple: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
  --color-brown: var(--color-text-dark);
  --color-redBown: var(--color-text-dark);
}
*::selection {
	background: #bd93f9;
	color: white;
}
/* Other colors override */
  
.blue-text{
    color: var(--color-blue)
}
  
.blue-border{
    border-color: var(--color-blue);
}
  
.blue-background{
    background-color: var(--color-blue);
}
  
.purple-text{
    color: var(--color-purple)
}
  
.purple-border{
    border-color: var(--color-purple);
}
  
.purple-background{
    background-color: var(--color-purple);
}

.zen-maru {
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* Preloader Stuff */
.animatedis {
  display: inline-block;
  transform: translateY(100%);
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

/* Experience --------------------------------------------- */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
  .experience-canvas{
    width: 100%;
    height: 100%;
  }
}


.hidden{
  display: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* Page Itself --------------------------------------------- */
.page{
  z-index:99999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .page-wrapper{
    position: relative;
  }
}

/* Section Formatting --------------------------------------------- */

.section-margin{
  // height: 1000px;
  width: 100%;
}
.section{
  position: relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
  &.left{
    margin-right: auto;
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px;
  }
  &.right{
    margin-left: auto;
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px;
  }
}

/* Progress bars */
.progress-wrapper{
  height: 0;
  width: 12px;
  z-index: 9999;
  &.progress-bar-wrapper-left{
    position: absolute;
    top: 0;
    left: 0;
    .progress-bar{
      height: 100vh;
      width: 100%;
      background-color: var(--color-redBown);
      transform-origin: top center;
      transform: scaleY(1);
      &.blue-background {
        background-color: var(--color-blue);
      }
      &.purple-background {
        background-color: var(--color-purple);
      }
    }
  }
  
  &.progress-bar-wrapper-right{
    position: absolute;
    top: 0;
    right: 0;
    .progress-bar{
      height: 100vh;
      width: 100%;
      transform-origin: top center;
      transform: scaleY(1);
      &.pink-background {
        background-color: #f667c3;
      }
      &.brown-background {
        background-color: var(--color-brown-light);
      }
    }
  }
}

// Logo Color
.cls-1 {
  fill: #bd93f9;
}

.cls-2 {
  fill: #caa9fa;
}

footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  background-color: var(--color-background);
  color: var(--color-purple);
  letter-spacing: 1px;
}

.header-img-top {
  width: 100%;
  position: absolute;
  top: -30px;
  opacity: 1;
}
.header-img-bottom {
  width: 100%;
  position: absolute;
  bottom: -53px;
  right: 0;
  opacity: 1;
  rotate: 180deg;
}
#path {
  animation: path 3s infinite;
  animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@keyframes path {
  0% {
     d: path('M109.502 78.8151C72.7977 114.24 21.2072 106.198 0 97.7493L0 0L375 0C352.467 18.6288 302.386 38.908 235.828 37.1978C152.631 35.0601 155.383 34.5334 109.502 78.8151Z');
  }

  50% {
     d: path('M98.5 68.5C61.7953 103.925 21.2072 106.198 0 97.7493L0 -6.10352e-05L375 -6.10352e-05C352.467 18.6288 328.558 32.2102 262 30.5C178.803 28.3623 144.381 24.2183 98.5 68.5Z'); 
  }
  
  100% {
     d: path('M109.502 78.8151C72.7977 114.24 21.2072 106.198 0 97.7493L0 0L375 0C352.467 18.6288 302.386 38.908 235.828 37.1978C152.631 35.0601 155.383 34.5334 109.502 78.8151Z'); 
  }
}