/* Section Formatting --------------------------------------------- */

.section-margin{
    height: 2000px;
    width: 100%;
}
.section-text{
    line-height: 2;
    margin-top: 18px;
    font-size: 16px;
    color: var(--color-text);
}
.section{
        position: relative;
        width: 50%;
        padding: 200px 4% 300px 4%;
        margin: 0;
        background-color: var(--color-background);
        overflow: hidden;
    &.left{
        margin-right: auto;
        border-top-right-radius: 700px 700px;
        border-bottom-right-radius: 0px 0px;
    }
    &.right{
        margin-left: auto;
        border-top-left-radius: 700px 700px;
        border-bottom-left-radius: 0px 0px;
    }
}

/* Sections -------------- */
section {

    .section-intro-wrapper{
        position: relative;
        .section-title{
            position: relative;
            .secHead {
                position: relative;
                display: block;
                font-size: 2.125rem;
                font-weight: 500;
                padding: 3.75rem 0;
                z-index: 5;
                color: var(--color-pink);
                left: -2rem;
                &::before {
                    content: '<';
                }
                &::after {
                    content: '>';
                }
                &.color-brown {
                    color: var(--color-brown);
                }
                &.pink {
                    color: #f667c3;
                }
                
                &.purple-text{
                    color: var(--color-purple)
                }
                &.blue-text {
                    color: var(--color-blue);
                }
                
            }
            .secEnd {
                position: relative;
                display: block;
                font-size: 2.125rem;
                font-weight: 500;
                padding: 3.75rem 0;
                z-index: 5;
                color: var(--color-pink);
                left: -2rem;
                &.color-brown {
                    color: var(--color-brown);
                }
                &.pink {
                    color: #f667c3;
                }
                &.purple-text{
                    color: var(--color-purple)
                }
                &.blue-text {
                    color: var(--color-blue);
                }
                &::after {
                    content: '</' attr(data-text) '>';
                }
            }
        }
        .section-number{
            position: absolute;
            bottom: 15px;
            right: 0;
            color: var(--color-pink);
            font-size: 24px;
        }
    }
    .section-detail-wrapper{
        position: relative;
        padding: 20% 0;
    }
}



.blue-background{
    background-color: var(--color-blue);
}
.purple-background{
    background-color: var(--color-purple);
}