.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
    
    &:before {
        background-color: #f667c3;
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 2em;
        width: 2px;
        height: 100%;
    }

    .timeline-event {
        position: relative;
    
        &:hover {
            .timeline-event-icon {
                transform: rotate(-45deg);
                background-color: #a83279;
            }
            
            .timeline-event-thumbnail {
            box-shadow: inset 40em 0 0 0 #a83279;
            }
        }
    }
    
    .timeline-event-copy {
        padding: 2em;
        position: relative;
        top: -1.875em;
        left: 4em;
        width: 80%;
    
        h3 {
        font-size: 1.75em;
        }
        
        h4 {
        font-size: 1.2em;
        margin-bottom: 1.2em;
        }
        
        strong {
        font-weight: 700;
        }
        
        p:not(.timeline-event-thumbnail) {
        padding-bottom: 1.2em;
        }
    }
    
    .timeline-event-icon {
        -moz-transition: -moz-transform 0.2s ease-in;
        -o-transition: -o-transform 0.2s ease-in;
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #f667c3;
        outline: 10px solid #fbf0e9;
        display: block;
        margin: 0.5em 0.5em 0.5em -0.5em;
        position: absolute;
        top: 0;
        left: 2em;
        width: 1em;
        height: 1em;
    }
    
    .timeline-event-thumbnail {
        -moz-transition: box-shadow 0.5s ease-in 0.1s;
        -o-transition: box-shadow 0.5s ease-in 0.1s;
        -webkit-transition: box-shadow 0.5s ease-in;
        -webkit-transition-delay: 0.1s;
        transition: box-shadow 0.5s ease-in 0.1s;
        color: white;
        font-size: 0.75em;
        background-color: #f667c3;
        -moz-box-shadow: inset 0 0 0 0em #ef795a;
        -webkit-box-shadow: inset 0 0 0 0em #ef795a;
        box-shadow: inset 0 0 0 0em #ef795a;
        display: inline-block;
        margin-bottom: 1.2em;
        padding: 0.25em 1em 0.2em 1em;
    }
}
  